
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
</style>
<div class="login-page">
    <div class="form">
        <h4 style="color:red">@ViewBag.ThongBao</h4>
        <form class="login-form" action="/User/LogIn" method="post">
            @Html.ValidationSummary(true)
            <input type="text" placeholder="Tài khoản" name="UserCus" required />
            <input type="password" placeholder="Mật khẩu" name="PassCus" required />
            <button>Đăng nhập</button>
            <div style="margin-top:15px;">
                <a style="background-color:dodgerblue" href="~/FacebookGoogle/LoginFacebook" class="btn btn-primary btn-square rounded-circle me-2 "><i class="fab fa-facebook-f" ></i> </a>
            </div>
            <p class="message">Bạn chưa có tài khoản? <a href="~/User/Register">Đăng ký</a></p>
        </form>
        @*<p class="btn btn-facebook" style="background-color:dodgerblue; margin-top:10px;"><a style="color:white" href="~/User/LoginFacebook">Facebook</a></p>*@ 

    </div>
</div>
<script>
    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });
</script>